@model FoxClub.Models.Fox
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>MyFox</title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/StyleSheet.css")" />
</head>
<body>
    
    <nav>
        <a href="/information">Information</a>
        <a href="/information/nutritionstore">Nutrition Store</a>
        <a href="/information/trickclasses">Trick Teaching Classes</a>
    </nav>
    <br />
    <br />
    <header>
        Info
    </header>
    <content>
        <div>
            <img src="../../foxstart.gif" alt="fox pic" />
        </div>
        <div>
            This is @Model.Name.
            Currently living on @Model.Food.ToString() and @Model.Drink.ToString().
            He knows @Model.Tricks.ToString() trick.
        </div>
    </content>
</body>
</html>@*
*@
@{
}
