@model FoxClub.Models.Fox
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>MyFox</title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/StyleSheet.css")" />
</head>
<body>

    <nav>
        <a href="/information">Information</a>
        <a href="/information/nutritionstore">Nutrition Store</a>
        <a href="/information/trickclasses">Trick Teaching Classes</a>
    </nav>
    <br />
    <br />
    <header>
        NutrInfo
    </header>
    <content>
        <div>
            <img src="../../foxwalk.gif" alt="fox pic" />
        </div>
        <div>
            This is @Model.Name.
            Currently living on @Model.Food.ToString() and @Model.Drink.ToString().
            Wanna change this diet?
        </div>
        <form action="/information/nutritionstore" method="post">
            <fieldset>
                <legend>New diet input:</legend>
                    <div>
                        <label for="User">Food name:</label>

                        <select name="Food">
                            <option>@FoxClub.Models.SnacksAndTricks.Food.Burger</option>
                            <option>@FoxClub.Models.SnacksAndTricks.Food.Pie</option>
                            <option>@FoxClub.Models.SnacksAndTricks.Food.Salad</option>
                        </select>
                    </div>
                <div>
                    <label for="User">Drink name:</label>

                    <select name="Drink">
                        <option>@FoxClub.Models.SnacksAndTricks.Drink.Beer</option>
                        <option>@FoxClub.Models.SnacksAndTricks.Drink.HolyWater</option>
                        <option>@FoxClub.Models.SnacksAndTricks.Drink.Smoothie</option>
                    </select>
                </div>
                    <p>
                        <input type="submit" value="Save new diet!" />
                    </p>
            </fieldset>
        </form>
    </content>
</body>
</html>@*
*@
@{
}
