@model List<ToDo.Models.ToDoClass>

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>SUPERSTAR TO DO LIST</title><meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Css/StyleSheet1.css" rel="stylesheet" />
        @*<link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/StyleSheet.css")" />*@
    </head>


    <body style="background-color: rgb(179, 179, 255)">
        <div class="panel panel-default">
            <div style="background-color: rgb(179, 179, 255)">
                ToDos For Today   <span class="badge alert-danger">@Model.Count</span>
            </div>
            
                <table class="jumbotron, table table-striped, panel panel-default" style="background-image: url(https://i2.wp.com/www.iizziistudio.com/wp-content/uploads/2016/03/BG-Polka-Dots-A-1.jpg?resize=800%2C800)">
                    <tr class="panel panel-primary">
                        <th>ToDo</th>
                        <th>Done</th>
                        <th>Urgent</th>
                        <th>Move Up</th>
                        <th>Move Down</th>
                        <th>Delete</th> 
                    </tr>
                    @foreach (var item in Model)
            {
                        <tr class="panel panel-default">
                            <td>@item.Title</td>
                            <td>
                                @if (item.IsDone)
                                {
                                    <span class="glyphicon glyphicon-ok" style="color: limegreen"> </span> ;
                                }
                                else
                                {
                                    <span class="glyphicon glyphicon-remove" style="color: crimson"></span>;
                                }
                            </td>
                            <td>
                                @if (@item.IsUrgent)
                                {
                                    <span class="glyphicon glyphicon-ok" style="color: limegreen"></span> ;
                                }
                                else
                                {
                                    <span class="glyphicon glyphicon-remove" style="color: crimson"></span>;
                                }
                            </td>
                            <td>
                                <form action="/todo/upvote" method="post">
                                    <input type="hidden" name="ID" value="@item.ID" />
                                    <button type="submit" class="label label-default"><span class="glyphicon glyphicon-chevron-up"></span></button>
                                </form>
                            </td>
                            <td>
                            <form action="/todo/downvote" method="post">
                                <input type="hidden" name="ID" value="@item.ID" />
                                <button type="submit" class="label label-default"><span class="glyphicon glyphicon-chevron-down"></span></button>
                            </form>
                            </td>
                            <td>
                                <form action="/todo/delete" method="post">
                                    <input type="hidden" name="ID" value="@item.ID"/>
                                    <button type="submit" class="label label-danger"><span class="glyphicon glyphicon-trash"></span></button>
                                </form>
                            </td>
                        </tr>

                    }

                </table>
            </div>
            <br />
            <ul class="nav nav-pills">
                <li role="presentation" @*class="active" *@>
                    <a class=" label label-info" href="~/todo">
                        Home  <span class="glyphicon glyphicon-home"></span>
                    </a>
                </li>
                <li role="presentation">
                    <a class="label label-info" href="~/todo/adding">
                        Add <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </li>
                <li class="a" role="presentation">
                    <a class="label label-info" href="~/todo/edit">
                        Edit <span class="glyphicon glyphicon-tasks"></span>
                    </a>
                </li>
               
                
            </ul>
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
